@import "boxed-variables";

$jax_blue: #005a98;
$jax_green: #c8cb00;

$tcc_orange: $jax_green;

$tcc2016-title-background-start: lighten($jax_blue, 3%);
$tcc2016-title-background-end: darken($jax_blue, 3%);
$tcc2016-title-background: linear-gradient(to right, $tcc2016-title-background-start, $tcc2016-title-background-end) !default;

$tcc2016-title-highlight-background-start: darken($jax_green, 1%);
$tcc2016-title-highlight-background-end: lighten($jax_green, 3%);
$tcc2016-title-highlight-background: linear-gradient(to right, $tcc2016-title-highlight-background-start, $tcc2016-title-highlight-background-end) !default;

$tcc-regular-header-background: $tcc2016-title-background;
$tcc-regular-footer-background: $tcc2016-title-background;

// ****************************************************************************************************
// general
// ****************************************************************************************************

$font-size-base: 33px;
$table-bg-accent: $tcc-code-bg-1;

// Core variables and mixins
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap//variables";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/normalize";
//@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/print";

// Core CSS
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/tables";

// Utility classes
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";


@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/modals";

// ****************************************************************************************************
// w11k-slides config
// ****************************************************************************************************

$theCodeCampus_orange: $tcc_orange;
$w11k-cornerRibbon-distance: 5em;
$w11k-cornerRibbon-background-color: linear-gradient(to left, $tcc-gray, lighten($tcc-gray, 7%));
$w11k-cornerRibbon-border-color: $tcc-gradient-orange-end;

$w11k-prettyPrint-line-color: $tcc-code-bg-1;
$w11k-prettyPrint-line-color-alternate: $tcc-code-bg-2;
$w11k-prettyPrint-line-color-highlight: $tcc-code-bg-3;

@import "w11k-slides/dist/variables";
@import "w11k-slides/dist/slides/mixins";
@import "w11k-slides/dist/corner-ribbon/corner-ribbon";

@import "boxed-print";
@import "boxed";
@import "overlay";

// ****************************************************************************************************
// slides content
// ****************************************************************************************************


.tcc-2016 {
  .slides.export > .slide-container > div > .slide {
    &.title {
      font-size: 12pt;

      h1 {
        font-size: 4em;
      }
    }
  }

  .slides > .slide-container > div > .slide {

    &.title {

      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;

      .top {
        background: white;
        border-bottom: 0.5em solid $jax_green;
        height: 38vh;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;

        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          padding: 1em;

          img {
            max-height: 20vh;
          }
        }
      }

      .center {
        flex: 1;
        padding: 0 5vw;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        background: $jax_blue;

        .content {
        }

        h1 {
          color: white;

          small {
            color: white;
            font-size: 0.5em;
            display: block;
            margin-bottom: 1em;
          }
        }
      }
    }

    &.end {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      background: $tcc2016-title-background;

      > div {
        text-align: center;
        color: white;
        a, a:visited, a[href^="http"], a[href^="mailto"] {
          color: white;
          text-decoration: none;
        }
      }

    }
  }
}
